@import url('https://fonts.googleapis.com/css?family=Caveat|Philosopher');
body{
	background: #fff;
	font-family: 'Caveat', cursive;
	font-weight: 300;
	font-size: 16px;
	color: #555;

	-webkit-overflow-scrolling:touch;/*cкроллинг при помощи тача*/
	-webkit-font-smoothing: antialiased;/* разглаживание шрифтов при увеличении*/
	margin-top: 70px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Philosopher', sans-serif;
	font-weight: 300;
	color: #333;
}
p{
	line-height: 28px;
	margin-bottom: 25px;
	font-size: 25px;
}
a{
	color: #f85c37;
}
a:hover a:focus{
	color:#fbf4c6;	
	text-decoration: none;
	outline: 0;
}
hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
.navbar{
	font-weight: 800;
	font-size: 18px;
	height: 100px;	
}
.navbar-right{
	padding-top: 25px;
	padding-bottom: 15px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
    font-size: 24px;
}
.navbar-inverse .navbar-toggle {
    border-color: #fbf4c6;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fbf4c6!;
}
.icon-bar{
	color: #fbf4c6;
}
.navbar-inverse{
	background: #fff;
	border-color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color: #FF9BAA;
}
.navbar-inverse .navbar-nav>li>a:focus{
	color: #FF9BAA;
}
.navbar-brand{
	color:#999;
	font-size: 22px;
	font-weight: bolder;
	letter-spacing: 1px;
	padding: 20px 15px 0px 0px;
}
#headerwrap{
	background: url(../img-tort/ForWeb/back.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top: 20px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 600px;
	width: 100%;

	background-size: 100%;

	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;

}
#headerwrap h1{
	color: white;
	margin-top: 120px;
	font-size: 65px;
	font-weight: 300;
	letter-spacing: 3px;
}
#headerwrap h2{
	color: white;
	padding-top: 40px;
	font-size: 40px;
	letter-spacing: 3px;

	text-transform: uppercase;

}
.w{
	padding-top: 50px;
	text-align: center;
}
.assort-h{
	color: #FF9BAA;
}
.assort-p{
	font-size: 20px;
}
.w h4{
	font-size: 30px;
}
.w i{
	color: #ff7878;
	font-size: 40px;

}
.dg{
	background-color: #F5F5DC;
	padding-top: 100px;
	padding-bottom: 100px;
}
.dg h4{
	font-size: 40px;
}
.tilt{
	-webkit-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	transition: all 0.5s ease;

}
.tilt:hover{
	-webkit-transform:rotate(-10deg);
	-o-transform:rotate(-10deg);
	-moz-transform:rotate(-10deg);
	-ms-transform:rotate(-10deg);
	transform:rotate(-10deg);

}
.wb{
	padding-top: 35px;
}
.wb h4{
	font-size: 35px;
}
#lg{
	background:#ebebeb;
	padding-top: 70px;
	padding-bottom: 70px;
}
#lg h4{
	 font-size: 45px;
}
.r{
	background-image: url(../img-tort/ForWeb/back-cake.jpg); 
	background-color: #F5F5DC;
	padding-top: 130px;
	padding-bottom: 70px;
}

.r h4{
	font-size: 20px;
	font-weight: 900;
	color: white;
}


#f{
	background: rgba(255,155,170, 0.8);
	padding-top: 30px;
	padding-bottom: 20px;

}
#f i{
	color: white;
	font-size: 30px;
	padding: 20px;

}
#f i:hover{
	color:#ff7878;
}



.contact-section{
	padding-top: 100px;
}

.contact-block{
     position: absolute;
     top: 2900px;
     width: 320px;
     left:50%;
     margin-left: -160px;
     background: rgba(255,155,170, 0.8);
     border-radius: 5px;
     padding: 30px 30px 15px 30px;
     box-sizing: border-box;
     width: 320px;
	
    }
  .contact-block h2{
    color: #fff;
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;


  }
      .cont-email{
      width: 100%;
      font-size: 0.875em;
      margin-bottom: 15px;
      padding: 7px 20px;
      box-sizing: border-box;
      border: none;
      border-radius: 5px;
      color:#d3d3d3;
      text-align: center;

    } 
        .text{
      width: 100%;
      font-size: 0.875em;
      margin-bottom: 15px;
      padding: 7px 20px;
      box-sizing: border-box;
      border: none;
      border-radius: 5px;
      color:#d3d3d3;
      text-align: center;
      height: 100px;
      
    } 
        .cont-inpt{
        background: #acacac;
        color: #fff;
        font-size: 1em;
        border:none;
        font-weight: bold;
        padding: 10px 60px;
        cursor:pointer;
        border-radius: 5px;
        text-align: center;
        display: block;
        margin: 0 auto;
      }
a.download-btn{
		background: rgba(199,199,195,0.8); 
        color: #fff;
        padding: 20px 50px;
        display: inline-block;
        border: 1px solid #c7c7c3;
        border-radius: 14px;
        font-size: 25px;
        margin-top: 30px;
        text-decoration: none;
       }

@media screen and (max-width: 1199px){
    .contact-block{
     position: absolute;
     top: 4200px;
     width: 320px;
	
    }
}
@media screen and (max-width: 571px){
    .contact-block{
     position: absolute;
     top: 4300px;
     width: 320px;
	
    }
}
@media screen and (max-width: 450px){
    .contact-block{
     position: absolute;
     top: 4400px;
     width: 320px;
	
    }
}
@media screen and (max-width: 400px){
    .contact-block{
     position: absolute;
     top: 4650px;
     width: 320px;
	
    }
}

